#gameBoard
{
  border:1px solid orange;
  background-color:turquoise;
  min-width:990px;
}
.hexagon {
  width: 100px; 
  height: 90px;
  background-color: white;
  /*clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display:inline-block;
  margin-right:56px;
  cursor: pointer;
  /*border: 1px solid black;/*this will need to be a clip-path too or something*/

}
.row
{
  text-align: center;
  /*border:1px solid blue;*/
}
.row.odd
{
  margin-left:156px;
  margin-top:-44px;
}
.row.even
{
  margin-top:-44px;
}
.hex-info {
  width: 50%;
  margin: 25% auto;
  font-size: 10pt;
}