#gameBoard
{
  border:1px solid orange;
  background-color:turquoise;
  min-width:600px;
  display:inline-block;
  padding-bottom: 45px;
  padding-right:25px;
}
.hexagon {
  width: 104px; 
  height: 90px;
  background-color: white;
  /*clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display:inline-block;
  cursor: pointer;
  margin-right:-25px;
  /*border: 1px solid black;/*this will need to be a clip-path too or something*/

}
.row
{
  text-align: center;
  /*border:1px solid blue;*/
}
.hex-odd
{
  position:relative;
  top:45px;
  /*right:25px;*/
}
.hex-info {
  text-align: center;
  margin: 25% auto;
  font-size: 9pt;
}